body, p{

  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
   font-weight:500;
   line-height: 2;


}

.column-left{
  float: left;
  width: 10%;

}
.column-right{


  position: absolute;
  top: 10%;
  margin-left: 65%;


}
.column-center{
  position: relative;
  display: inline-block;
  width: 50.55%;
  margin-left: 10%;
}

@media only screen and (max-width: 800px) {
  body {

  }
.column-right{
  visibility: hidden;
}

.column-center{
  position: relative;
  display: inline-block;
  width: 80%;
  margin-left: 10%;
}
}
